

<div class="panel panel-default col-sm-12">
  <div class="panel-heading row">
    <h3 class="col-sm-8 "><%= link_to project.name, project_path(project.id) %></h3>
        <% if current_user?(project.user) %>
        <h4 class="col-sm-4">
          <span><%= link_to "", project, method: :delete,
                                   data: { confirm: "You sure?" },
                                   class: "glyphicon glyphicon-trash pull-right"%></span>
          <span><%= link_to "", edit_project_path(project.id), class: "glyphicon glyphicon-pencil pull-right" %></span>
  </h4>
                                   
    <% end %>
  </div>
  <div class="panel-body">
    <%= project.description %>

  </div>
</div>


