<h1>Your Projects <small><%= link_to " add a project", new_project_path, class: "primary" %></small></h1>

<div class="row" >
<div class="projects col-sm-offset-2 col-sm-8">
  <%= render @projects %>
</div>
</div>



